<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Consulta</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-searchbar show-clear-button="always" value="Título" [(ngModel)]="filtroPeliculas" (keyup)="buscar()"></ion-searchbar>  
    <ion-list>
      <ion-card *ngFor="let peli of peliculasFiltradas" class="poster">
          <img class="imagen" src={{peli.Poster}} />
          <ion-card-header class="contenido">
            <ion-card-title class="titulo">{{peli.Title}}</ion-card-title>
            <ion-card-subtitle class="año">{{peli.Year}}</ion-card-subtitle>
          </ion-card-header>
          <ion-button size="large" fill="clear" class="borrar" (click)="eliminar()">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-card>
  </ion-list>
  </div>
  <ion-alert
  [isOpen]="borrando"
  header="¿Deseas eliminarlo?"
  [buttons]="alertButtons"
  (didDismiss)="ocultarDialogo()"
></ion-alert>
</ion-content>
